html, body {
  height: 100%;
  width: 100%;
}

.blok1 {
  height: 100%;
  background-image: url(background.jpg);
  background-position: center center;
  background-size: cover;
}

.jumbotron {
    background: rgba(204, 204, 204, 0.7);
}